#body {
    background-color: rgb(255, 255, 255);
}

/* touch bar*/
.navication {
    display: flex;
    background-color: rgb(44, 44, 44);
}

.navication-content {
    text-decoration: none;
    color: white;
    padding: 20px 35px 20px 35px;
    transition: 0.3s;
}

.display-color {
    background-color: rgb(63, 192, 192);
}

.navication-content:hover {
    text-decoration: none;
    background-color: rgb(63, 192, 192);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

/* title*/
.title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.title-table {}