#body {
    background-color: rgb(255, 255, 255);
}

/* touch bar*/
.navication {
    display: flex;
    background-color: rgb(44, 44, 44);
}

.navication-content {
    text-decoration: none;
    color: white;
    padding: 20px 35px 20px 35px;
    transition: 0.3s;
}

.display-color {
    background-color: rgb(63, 192, 192);
}

.navication-content:hover {
    text-decoration: none;
    background-color: rgb(63, 192, 192);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

/* title*/
.title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0px 30px 0px;
    color: rgb(63, 192, 192);
}

.title-table {
    width: 96%;
    margin: 0px 2% 0px 2%;
}

tr {
    border-bottom: 1px dashed black;
    padding: 10px 0px 20px 0px;
}

.edit {
    padding: 5px 28.5px 5px 28.5px;
    background-color: rgb(63, 192, 192);
    border-radius: 1px solid black;
    border-radius: 10px !important;
    margin: 20px 0px 10px 0px;
    font-size: 14px;
    font-weight: 600;
}

.delete {
    padding: 5px 20px 5px 20px;
    background-color: rgb(63, 192, 192);
    border-radius: 1px solid black;
    border-radius: 10px !important;
    font-size: 14px;
    font-weight: 600;
}